<mat-form-field *ngIf="passwordControl as password" class="form__field">
	<mat-label>Password</mat-label>
	<input matInput [formControl]="password" [type]="hidePassword ? 'password' : 'text'">
	<mat-error *ngIf="password.hasError('required')">
		Password is required
	</mat-error>
	<mat-error *ngFor="let error of getFieldErrors(password); trackBy: trackByErrorType">
		{{error}}
	</mat-error>
	<button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
		[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
		<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
</mat-form-field>
