body {
  height: 100vh;
}

.main_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/***** Header *****/

.header {
  max-width: 1200px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background: var(--surface-color);
  display: flex;
  min-height: 64px;
  align-items: center;
  align-self: center;
  margin-bottom: 24px;
}

.header__heading {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
}

/***** Catalog *****/

.main_catalog {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 24px;
}

@media screen and (max-width: 880px) {
  .main_catalog {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .main_catalog__books {
    margin-top: 24px;
  }
}

@media screen and (min-width: 881px) {
  .main_catalog__books {
    margin-top: 24px;
  }
}

/***** Books *****/

.main_catalog__books {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 880px) {
  .main_catalog__books {
    margin-top: 24px;
    margin-right: 0;
  }
}

@media screen and (min-width: 881px) {
  .main_catalog__books {
    margin-top: 0;
    margin-right: 24px;
  }
}

.books_one_category {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.books_one_category:last-child {
  margin-bottom: 0;
}

.books_one_category__header {
  height: 24px;
  background-color: var(--surface-color);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 24px;
}

@media screen and (max-width: 880px) and (min-width: 596px) {
  .books_one_category__header {
    top: 82px;
  }
}

@media screen and (max-width: 595px) {
  .books_one_category__header {
    top: 210px;
  }
}

.books_one_category__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

.books_one_category__book {
  max-width: 167px;
}

.book__image_wrapper {
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 4px;
}

.book__image_wrapper img {
  outline: 1px solid #0000001a;
  width: 100%;
}

@media screen and (max-width: 880px) and (min-width: 596px) {
  .books_one_category__book {
    max-width: 172px;
  }
}

@media screen and (max-width: 595px) {
  .books_one_category__book {
    max-width: 148px;
  }
}

/***** Filter *****/

.main_catalog__filter_wrapper {
  width: 100%;
}

@media screen and (min-width: 881px) {
  .main_catalog__filter_wrapper {
    max-width: 276px;
  }
}

.main_catalog__filter {
  position: fixed;
  top: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}

.main_catalog__filter h3 {
  margin-bottom: 24px;
}

@media screen and (max-width: 880px) {
  .main_catalog__filter_wrapper {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--surface-color);
  }

  .main_catalog__filter {
    position: sticky;
    top: 0;
  }

  .main_catalog__filter h3 {
    margin-bottom: 6px;
  }
}

.main_catalog__filter_inputs {
  display: flex;
  width: 276px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 881px) {
  .search_input {
    margin-bottom: 24px;
  }

  .select_section {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 880px) and (min-width: 596px) {
  .main_catalog__filter_inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
  }
}

@media screen and (max-width: 595px) {
  .main_catalog__filter_inputs {
    width: 100%;
  }

  .search_input {
    margin-bottom: 24px;
  }

  .select_section {
    margin-bottom: 24px;
  }
}

.search_input {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--input-background-color);
  color: var(--input-text-color);
}

.search_input input {
  width: 100%;
  margin-left: 8px;
}

/***** Footer *****/
.footer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 595px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer__data_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer__to_top_link {
    width: 100%;
    text-align: right;
  }
}

.footer__data_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

.footer__data h3 {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.footer__data span {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 32px;
}

.footer__github {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.footer__to_top_link {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
