:root {
  --primary-color: #f15924;
  --border-color: #00000026;
  --text-color: #000;
  --surface-color: #fff;
  --input-text-color: #00000080;
  --input-background-color: #0000000d;
  --book-img-outline-color: #0000001a;
  --desktop-min-page-size: 881px;
  --tablet-max-page-size: 880px;
  --tablet-min-page-size: 596px;
  --mobile-max-page-size: 595px;
  --font-size-m: 1.25rem;
}
