:root {
  --primary-color: #f15924;
  --border-color: #00000026;
  --text-color: #000;
  --surface-color: #fff;
  --input-text-color: #00000080;
  --input-background-color: #f2f2f2;
  --book-img-outline-color: #0000001a;
  --desktop-min-page-size: 881px;
  --tablet-max-page-size: 880px;
  --tablet-min-page-size: 596px;
  --mobile-max-page-size: 595px;
  --font-weight-l: 400;
  --font-weight-ml: 500;
  --font-weight-m: 600;
  --font-weight-h: 700;
  --font-size-s: 1rem;
  --font-size-m: 1.125rem;
  --font-size-l: 1.25rem;
  --line-height-s: 24px;
  --line-height-m: 24.2px;
  --line-height-l: 32px;
  --position-top-indent: 64px;
  --max-app-width: 1200px;
}
