<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
	<mat-form-field>
		<mat-label>Email:</mat-label>
		<input matInput formControlName="email" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
		<button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
			[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
			<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
		</button>
	</mat-form-field>
	<button mat-flat-button color="primary" type="submit">Sign in</button>
</form>
<nav class="navigation">
	<a routerLink="/home/registration" mat-raised-button>Sign up</a>
	<a routerLink="/anime" mat-raised-button>Anime</a>
</nav>