<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form">
	<mat-form-field>
		<mat-label>Email:</mat-label>
		<input matInput formControlName="email" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>First name:</mat-label>
		<input matInput formControlName="firstName" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Last name:</mat-label>
		<input matInput formControlName="lastName" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password:</mat-label>
		<input matInput formControlName="password" type="password" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Re type password:</mat-label>
		<input matInput formControlName="reTypePassword" type="password" />
	</mat-form-field>
	<button mat-flat-button color="primary" type="submit">Sign up</button>
</form>
<a routerLink="/home" mat-raised-button>Profile</a>
<a routerLink="/home/login" mat-raised-button>Sign in</a>
<a routerLink="/anime" mat-raised-button>Table</a>
