.image-wrapper {
  width: 150px;
  height: 150px;
  position: relative;
}

.image-wrapper img {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
